.header {
    width: 1100px;
    border-bottom: 1px solid #dadada;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

@media screen and (max-width: 1125px) {
    .header {
        width: 900px;
    }
}

@media screen and (max-width: 920px) {
    .header {
        width: 690px;
        /* Aqui já deve exibir o menu de hamburguer */
    }
}

@media screen and (max-width: 710px) {
    .header {
        width: 510px;
    }
}

@media screen and (max-width: 525px) {
    .header {
        width: 98vw;
    }
}

.headerContainer {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.highlight {
    color: var(--main-color);
}

.selectContainer {
    position: relative;
    display: flex;
}

.select {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color: #4a4a4a;
    text-align: end;
    padding-right: 0.5rem;
}

.option {
    text-align: center;
}